*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    width: 100%;
    height:calc(100% - 50px);
    scroll-snap-align: start;
    flex: none;
    scroll-margin-top: 50px ;

}

section:nth-of-type(1){
    background-image: url(../img/bacground_dev2.jpg);
}
section:nth-of-type(2){
    background-image: url(../img/bacground_dev2.jpg);
}
section:nth-of-type(3){
    background-image: url(../img/bacground_dev2.jpg);
}
section:nth-of-type(4){
    background-image: url(../img/bacground_dev2.jpg);
}

.cabeca{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
