*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url(./responsivo.css);

body {
  background: linear-gradient(120deg, #007bbc 0%, #00f524 100%);
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

.logo {
  margin-left: 1%;
}

.logo > img {
  width: 150px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin-right: 100px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.chamada {
  display: flex;
  flex-direction: column;
}

.chamada > img {
  width: 80%;
  margin-top: 20px;
}

.chamada > p {
  /* width: 60%; */
  font-family: "Poppins", sans-serif;
  /* margin-left: 12%; */
  font-size: 21px;
  margin-top: 35px;
  color: white;
}

.btn {
  margin-top: 5%;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  width: 200px;
  height: 35px;
  background-color: rgba(150, 210, 150, 0.9);
  color: black;
}

.img-thumbnail {
  background-color: rgba(1, 1, 1, 0.1);
}

.logo {
  width: 100px;
}

.rodape {
  background-color: white;
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 100px;
  width: 100%;
}
.foto {
  display: flex;
  justify-content: end;
}

.sobre {
  display: flex;
  flex-direction: row;
  height: 400px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 60px;
  background-color: rgb(240, 240, 240);
  margin-top: 90px;
}

.sobre > img {
  height: 300px;
}
