body,
html {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}

.container-fluid > a {
  color: black;
}

.navbar-nav > a {
  color: black;
}

.logo {
  width: 100px;
}


body {
  display: flex;
  align-items: center;
  background-size: cover;
  background: linear-gradient(-120deg, #003cff 0%, #09ff00 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 80px;
  padding-bottom: 90px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.form-signin {
  max-width: 900px;
  max-height: 900px;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: #ff0000;
  padding: 20px;
}

.confirm {
  font-family: Arial, Helvetica, sans-serif;
  color: #299800c0;
  padding: 20px;
}

.fpassword {
  padding: 20px;
}

.forgotpassword {
  margin-bottom: 10px;
}

.rodape {
  background-color: white;
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0%;
  width: 100%;
}
