*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    background-color: black;
    overflow: hidden;
   
}

.cabeca {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    height: 60px;
    align-items: center;
    
}
.logo{
    margin-left: 1%;
}
.logo > img {
    width: 150px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin-right: 100px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.info > a{
    text-decoration: none;
    color: black;
}

.conteudo {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 8%;
    
}

.chamada{
    display: flex;
    flex-direction: column;
  
    
    
}
.chamada > img{
    width: 80% ;
}
.chamada > p {
    width: 60%; 
    font-family: 'Poppins', sans-serif;   
    margin-left: 12%;
    font-size: 25px;
    margin-top: 15px;
    color: white;
}
.personagem{
    width: 30%;
    margin-right: 10%;
}

button{
    margin-top: 5%;
    border-radius: 100px;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 550;
    color: rgb(14, 163, 14);
    margin-left: 12%;
    width: 200px;
    height: 35px;
}

/* conteudo */

.solucoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
    color: #ffffff;
}

.solucoes .box_entrevistas_simuladas{
    background-color: aqua;
    height: 500px;
    height: 500px;
    border-radius: 20px;
}