body {
    background-image: url(../img/bacground_dev2.jpg);





}
header{
    font-family: 'Poppins';


}


.logo{
    width: 100px;


}


main {
    display: flex;
    flex-direction: column;

}


.titulo{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: white;
}

.container {
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    height: 500px;
    width: 450px;
    border-radius: 20px;
    margin-top: 100px;

}

.perguntac{
    text-align: center;
    font-size: 22px;
    padding: 10px;

}

.inemail{

    width: 70%;

}

.btn btn-light{
    padding: 20px 10px;
}
    



footer{
   position: absolute;
   display: flex;
   bottom: 0%;
   width: 100%;
   align-items: center;
   justify-content: center;

    
}