
body {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url("../img/bacground_dev2.jpg");
  background-repeat: no-repeat;
}

.form-signin {
  max-width: 900px;
  max-height: 900px;
  padding: 20px;
  background-color: #ffffff;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
